@font-face {
    font-family: Euclid;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/euclid-woff2/Euclid%20Circular%20B%20Regular.woff2")
        format("woff2");
}

@font-face {
    font-family: Euclid;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/euclid-woff2/Euclid%20Circular%20B%20Medium.woff2")
        format("woff2");
}

@font-face {
    font-family: Euclid;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/euclid-woff2/Euclid%20Circular%20B%20SemiBold.woff2")
        format("woff2");
}

@font-face {
    font-family: Euclid;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/euclid-woff2/Euclid%20Circular%20B%20Bold.woff2")
        format("woff2");
}
